<div class="crisis-detail" *ngIf="crisis">
  <h2>{{ action }} @ {{ newEpicenter || crisis.epicenter }}</h2>
  <form role="form" #detailForm="ngForm">
    <div class="row">
      <div class="form-group col-xs-8">
        <label for="title">Title</label>
        <input type="text" class="form-control" required
          [(ngModel)]="crisis.title" 
          ngControl="title" #title="ngForm" />
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
          Title is required
        </div>
      </div>
      <div class="form-group col-xs-4">
        <label for="begin">Commencement</label>
        <input type="date" class="form-control"
          [(ngModel)]="crisis.begin" 
          [disabled]="hasCommenced()" />
      </div>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="string" id="formatted-address" class="form-control" autocomplete="false"
        [(ngModel)]="location"
        [geocode]="crisis['_id']" (geocodeRequest)="updateEpicenter($event)" />
    </div>
    <!-- <div class="form-group">
      <label for="end">Conclusion</label>
      <input type="date" class="form-control"
        [(ngModel)]="crisis.end" />
    </div> -->
  </form>
  <table class="table table-condensed"
    *ngIf="crisis['_id']">
    <tr>
      <th>Name</th>
      <th>Power</th>
      <th>Strength</th>
    </tr>
    <tr class='danger' *ngIf="crisis.villains.length">
      <td colspan="3">Villains:</td>
    </tr>
    <tr *ngFor="#villain of crisis.villains">
      <td>{{ villain.name }}</td>
      <td>{{ villain.power.name }}</td>
      <td>{{ villain.power.strength }}</td>
    </tr>
    <tr class='success' *ngIf="crisis.heroes.length">
      <td colspan="3">Heroes:</td>
    </tr>
    <tr *ngFor="#hero of crisis.heroes">
      <td>{{ hero.name }}</td>
      <td>{{ hero.power.name }}</td>
      <td>{{ hero.power.strength }}</td>
    </tr>
  </table>
  <button type="button" class="btn btn-primary" 
    [disabled]="!crisis.epicenter || !detailForm.form.valid"
    (click)="save()">
    Save
  </button>
  <button type="button" class="btn btn-default" 
    (click)="cancel(detailForm.form.dirty)">
    Cancel
  </button>
</div>
<div class='map-container detail-map'>
  <div id="map"></div>
</div>
