<h2>{{action}} User</h2>
<div class='row'>
  <div class='col-xs-6 col-sm-8 col-md-9 col-lg-10 left-user-col'>
    <div>{{formDataError}}</div>
    <form #userForm="ngForm">
      <div class="form-group">
        <label for="username">Email</label>
        <input type="email" class="form-control" required
          [validate]="emailRules"
          [(ngModel)]="user.username" 
          ngControl="username"  #username="ngForm" />
        <!-- <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
          Email is required
        </div> -->
        <div class="errors">
          <div class="panel-heading">Errors</div>
          <div class="panel-body">
            <ul class='error-list'></ul>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" required
          [validate]="passwordRules"
          [(ngModel)]="user.password"
          ngControl="password"  #password="ngForm" />
        <!-- <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          Password is required
        </div> -->
        <div class="errors">
          <div class="panel-heading">Errors</div>
          <div class="panel-body">
            <ul class='error-list'></ul>
          </div>
        </div>
      </div>
      <div *ngIf="action === 'Register'">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control"
            [(ngModel)]="user.firstName">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control"
            [(ngModel)]="user.lastName">
        </div>
      </div>
      <button #submit type="button" class="btn btn-primary" 
        [disabled]="!userForm.form.valid"
        (click)="action === 'Sign In' ? signIn(submit) : signUp(submit)">
        {{action}}
      </button>
    </form>

    <div *ngIf="action === 'Sign In'">Don't have an account?
      <button class='btn btn-default' (click)="action = 'Register'">
        Register
      </button>
    </div>
    <div *ngIf="action === 'Register'">Already registered?
      <button class='btn btn-default' (click)="action = 'Sign In'">
        Sign In
      </button>
    </div>
  </div>
  <div class='col-xs-6 col-sm-4 col-md-3 col-lg-2'>
    <h6>One-click login:</h6>

    <button type='button' id='facebook-login' class='btn btn-default social-login fb-login'>
      <span><img src='assets/fb-logo-50.png' class='fb-logo' /></span>
      <span class='fb-text'>Facebook</span>
    </button><br>

    <button type='button' id='google-login' class='btn btn-default social-login google-login'>
      <span><img src='assets/google-logo-46.png' class='google-logo' /></span>
      <span class='google-text'>Google</span>
    </button>
  </div>
</div>

<span class='post-login' (click)="socialSignIn()"></span>