.social-login {
  padding: 0;
  width: 120px;

  &.fb-login {
    margin-bottom: 8px;
    background-color: rgb(59,87,157);

    &:hover {
      color: white;
      background-color: rgb(59,87,157);   
    }

    .fb-text {
      padding-right: 6px;
      color: white;
    }
  }

  &.google-login {
    &:hover {
      color: rgb(117,117,117);
      background-color: white;   
    }

    .google-text {
      padding-right: 8px;
      color: rgb(117,117,117);
    }
  }

  .fb-logo, .google-logo {
    height: 31px; /* Google logo height */
  }
}

.left-user-col {
  border-right: 1px solid #ccc;
}

form {
  input.ng-dirty {
    &:focus { border-color: #ccc }

    &.has-errors { border-left: 5px solid red; }

    &:not(.has-errors) { border-left: 5px solid green; }
  }

  div.errors {
    display: none; /* until revealed */
    margin-top: 1px; /* otherwise borders seem to overlap */

    &.panel.panel-danger.show-errors {
      display: block; /* reveals errors */
    }

    ul.error-list { 
      margin-bottom: 0px; /* makes text look centered */
      padding-left: 15px; /* 40px is too much for me */
      list-style-type: none;
    }
  }
}