<div class="villain-list">
  <h2>Here, there be baddies...</h2>
  <button type="button" class="btn btn-default" style="margin-bottom:10px"
    (click)="newVillain()">
    Add
  </button>
  <br>
  <div class="list-group">
    <a *ngFor="#villain of villains" 
      (click)="viewVillain(villain.id)"
      [class.selected]="isSelected(villain.id)" 
      class="list-group-item text-center">
      {{ villain.name }}
    </a>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xs-3">Name</div>
  <div class="col-xs-9  pull-left">{{ newVillain.name }}</div>
</div>
<div class="row">
  <div class="col-xs-3">Alter Ego</div>
  <div class="col-xs-9 pull-left">{{ newVillain.alterEgo }}</div>
</div>
<div class="row">
  <div class="col-xs-3">Power</div>
  <div class="col-xs-9 pull-left">{{ newVillain.power }}</div>
</div>
<br>
<button class="btn btn-default" (click)="">Save</button> -->

