$row-height: 32.8977px; /* from inspection */

[class$="-list"] li {
  .row .col-xs-6 span.name {
    line-height: $row-height; /* vertically center text */
    word-wrap: break-word;
  }
}

@media (min-width: 500px) { 
  [class$="-list"] li {
    .row .col-xs-6 {
      .btn-group.actions {
        float: right !important;
      }
    }
  }
}

@media (max-width: 500px) { 
  [class$="-list"] li {
    text-align: center !important;

    .row .col-xs-6 {
      width: 100%;
      clear: both !important;
    }
  }
}

[class$="-list"] li.selected {
  background-color: #ccc;
  color: white;
}
